body {
    background-color: aqua;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    min-width: 320px;
}
h1 {
    margin: 50px 40px;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
}
p {
    font-family: sans-serif;
    font-size: 1.8rem;
}
#form-outer {
    background-color: white;
    margin: 0 auto;
    border-radius: 4px;
    width: 75%;
    max-width: 900px;
    padding: 10px;
    padding-top: 20px;
}
.input-field {
    height: 20px;
    width: 280px;
    padding: 5px;
    margin: 10px;
    border: 1px solid grey;
    border-radius: 2px;
}
.rowTab {
    text-align: center;
    font-family:  sans-serif;
    min-width: 320px;
    line-height: 2.5;
}
.labels {
    display: inline-block;
    text-align: right;
    width: 40%;
    padding: 5px;
    vertical-align: top;
}
.rightTab {
    display: inline-block;
    text-align: left;
    width: 48%;
    vertical-align: middle;
}
#dropdown {
    height: 35px;
    width: 140px;
    padding: 5px;
    margin: 10px;
    margin-top: 15px;
    border: 1px solid grey;
    border-radius: 2px;
}
ul {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    list-style-type: none;
}
.userRatings {
    float: left;
    margin-right: 5px;
    margin: 10px 10px 0px 0px;
}
.radio, .checkbox {
    margin: -10px 0px 0px 0px;
}
#submit {
    background-color: cornflowerblue;
    border-radius: 4px;
    color: white;
    font-size: 1em;
    height: 40px;
    width: 96px;
    margin: 10px;
    border: 0px solid;
}
.input-field {
    width: 280px;
    padding: 5px;
    margin: 10px;
    border: 1px solid grey;
    border-radius: 2px;
}
